{% extends 'base.html.twig' %}

{% block title %}{{ 'nav.login' | trans }}{% endblock %}

{% block container %}
    <div class="row justify-content-center mt-4">
        <div class="col col-md-8 col-lg-6 col-xl-4">
            <form method="post" class="card">
                <div class="card-body">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">{{ 'nav.login' | trans }}</h1>
                    <div class="mb-3">
                        <label for="inputEmail">{{ 'user.email.label' | trans }}</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required
                           autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword">{{ 'user.password.label' | trans }}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-check mb-3">
                        <label>
                            <input type="checkbox" class="form-check-input" name="_remember_me">
                            <span class="form-check-label">
                                {{ 'login.remember_me' | trans }}
                            </span>
                        </label>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-key fa-w me-2"></i>
                            {{ 'login.submit' | trans }}
                        </button>
                        <a href="{{ path('security_password') }}" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-question-circle fa-w me-2"></i>
                            {{ 'login.password' | trans }}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
