{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block container %}
    <h1>Administration</h1>
    <div class="row" id="admin">
        <div class="col-12 col-md-4">
            <a class="card" href="{{ path('admin_aircraft') }}">
                <div class="card-body text-center">
                    <i class="fas fa-plane fa-3x mb-4"></i>
                    <h4>{{ stats.aircrafts }} machines</h4>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a class="card" href="{{ path('admin_user') }}">
                <div class="card-body text-center">
                    <i class="fas fa-user fa-3x mb-4"></i>
                    <h4>{{ stats.users }} utilisateurs</h4>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a class="card" href="#">
                <div class="card-body text-center">
                    <i class="fas fa-file fa-3x mb-4"></i>
                    <h4>{{ stats.documents }} documents</h4>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a class="card" href="{{ path('admin_menu') }}">
                <div class="card-body text-center">
                    <i class="fas fa-file fa-3x mb-4"></i>
                    <h4>{{ stats.menus }} menus</h4>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a class="card" href="{{ path('admin_page') }}">
                <div class="card-body text-center">
                    <i class="fas fa-book fa-3x mb-4"></i>
                    <h4>{{ stats.pages }} pages</h4>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-4">
            <a class="card" href="{{ path('admin_post') }}">
                <div class="card-body text-center">
                    <i class="fas fa-newspaper fa-3x mb-4"></i>
                    <h4>{{ stats.posts }} actualités</h4>
                </div>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Ce qu'il reste à faire</h5>
        </div>
        <div class="card-body">
            <ul>
                <li>L'administrateur doit pouvoir charger des fichiers.</li>
                <li>L'utilisateur connecté doit pouvoir modifier son mot de passe.</li>
                <li>L'utilisateur connecté doit pouvoir accéder à la liste des machines et leurs documents.</li>
                <li>L'utilisateur doit pouvoir voir les autres pages d'un même menu depuis une page de contenu.</li>
                <li>L'utilisateur doit pouvoir voir les dernières actualités sur la page d'accueil.</li>
                <li>L'utilisateur doit répondre à un test Captcha avant de pouvoir envoyer sa demande de contact.</li>
                <li>L'utilisateur doit pouvoir acheter en ligne des VI et des stages</li>
            </ul>
        </div>
    </div>
{% endblock %}