{% extends 'base.html.twig' %}

{% block title %}Pages - Administration{% endblock %}

{% form_theme filter 'include/form/filter.html.twig' %}

{% block container %}
    <h1>Pages</h1>
    {{ form(filter) }}
    <div class="table-responsive card">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Menu</th>
                    <th>Création</th>
                    <th>Modification</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td>{{ page.menu ? page.menu.title : ( 'nav.home' | trans) }}</td>
                        <td>{{ page.createdAt | format_datetime('medium', 'short') }}</td>
                        <td>{{ page.updatedAt | format_datetime('medium', 'short') }}</td>
                        <td class="text-end">
                            <a href="{{ path('admin_page_edit', {'page': page.id}) }}" class="btn btn-sm btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center">
                            <em>Aucune page</em>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card-footer text-end">
            <div class="row">
                <div class="col-12 col-md-6 col-center col-md-start">
                    {# pagination #}
                </div>
                <div class="col-12 col-md-6 col-center col-md-end">
                    <a href="{{ path('admin_page_add') }}" class="btn btn-success btn-sm">
                        <i class="fas fa-plus"></i> Ajouter
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}